<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Trail</title>
</head>
<body>
    <h1>View trail</h1>
    <h1>@ViewBag.OneTrail.Name</h1>
    <h3>Description</h3>
    <p>@ViewBag.OneTrail.Description</p>
    <h3>Trail Length</h3>
    <p>@ViewBag.OneTrail.Length</p>
    <h3>Elevation Change</h3>
    <p>@ViewBag.OneTrail.ElevChange</p>
    <h3>Longitude and Latitude</h3>
    <p>@ViewBag.OneTrail.Longitude Degrees N</p>
    <p>@ViewBag.OneTrail.Latitude Degrees W</p>
    
</body>
</html>