<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/wwwroot/css/style.css">
    <title>Dojodachi</title>
</head>
<body>
    <div>
        <div id="header">
            <span id="totalFullness">Fullness: @ViewBag.myDachi.fullness</span>
            <span id="totalHappiness">Happiness: @ViewBag.myDachi.happiness </span>
            <span id="totalMeals">Meals: @ViewBag.myDachi.meals</span>
            <span id="totalEnergy">Energy: @ViewBag.myDachi.energy</span>
        </div>
        <div id="main">
            <img src="~/wwwroot/img/tamagatchi.jpg" alt="">
            <p id="actionMessage">@ViewBag.myDachi.actionMessage</p>
        </div>
        <div>
            <button onclick="window.location.href='/Feed'" id="feed">Feed</button>
            <button onclick="window.location.href='/Play'" id="play">Play</button>
            <button onclick="window.location.href='/Work'" id="work">Work</button>
            <button onclick="window.location.href='/Sleep'" id="sleep">Sleep</button>
        </div>
        @{
            if(ViewBag.myDachi.winStatus == true || ViewBag.myDachi.loseStatus == true)
            {
                <button onclick="window.location.href='/Clear'">Play Again</button>
            }
        }
    </div>
</body>
</html>