@model BankAccounts.Models.Transaction

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome @ViewBag.FirstName to your Checking Account  | Your ID is: @ViewBag.UserId</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/Logout"><span class="glyphicon glyphicon-log-out">Logout</span></a></li>
    </ul>
  </div>
</nav>


  
  <h4 id="balance" class="col-sm-2" >Current Balance: @ViewBag.AccountInfo.Balance</h4>


<div id="changeBalance">
<form asp-controller="Account" asp-action="ChangeBalance" method="post" class="form-group">
  <label >Deposit/Withdraw To/From Your Account</label>
  <input name="ChosenInputType" value="Deposit" type="radio" checked>Deposit</input>
  <input name="ChosenInputType" value="Withdrawal" type="radio">Withdraw</input>
  <input name="Amount" class="form-control" placeholder="$ 000.00"> 
  <span ></span>

  <span>@TempData["transactionError"]</span>
  <br><br>

  <button class="btn btn-primary">Submit</button>
</form>
</div>

@foreach(var data in @ViewBag.AccountInfo.Transactions)
{
<div id="transactionInfo">
  <table class="table table-responsive">
    <thead>
      <th>Deposits</th>
      <th>Withdrawals</th>
      <th>Date of Transaction</th>
    </thead>
    <tbody>
      <tr>
        <td>@data.Deposit</td>
        <td>@data.Withdrawal</td>
        <td>@data.CreatedAt.ToString("D")</td>
      </tr>
    </tbody>
  </table>
</div>


// End bracket for ViewBag.AccountInfo foreach loop. //
}