<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Welcome @ViewBag.FirstName | Your ID is: @ViewBag.UserID</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="logout"><span class="glyphicon glyphicon-log-out">Logout</span></a></li>
    </ul>
  </div>
</nav>


<form action="PostSubmit" method="post" class="form-group">
    <h2>Post a Message</h2>
    <textarea name="message" cols="100" rows="5" placeholder="Write Your Message Here"></textarea>
    <br><br>
    <button class="btn btn-primary">Post Your Message</button>
</form>

<hr>

<div>
  @foreach(var message in @ViewBag.AllMessages)
  {
    <p>@message["first_name"] @message["last_name"] Posted ~ @message["created_at"].ToString("MMM d yyyy")</p>
    <p>@message["message"]</p>

    <form action="CommentSubmit" method="post" class="form-group">
    <h3>Write a Comment</h3>
    <textarea name="comment" cols="50" rows="3" placeholder="Write Your Comment Here"></textarea>

    <br><br>

    <!-- // Send PostID through to the CommentSubmit method in the HomeController in order to associate this comment with the proper post. -->
    @{int PostID = @message["id"];
    <input type="hidden" name="postID" value="@PostID">
    <button type="submit" class="btn btn-primary">Submit Your Comment</button>
    }
  
    </form>
     @foreach(var comment in @ViewBag.AllComments)
    {
      if(@comment["messages_id"] == @message["id"])
      {
        <p>@comment["first_name"] @comment["last_name"] Commented ~ @comment["created_at"].ToString("MMM d yyyy")</p>
        <p>@comment["comment"]</p>
      }
    }
    <hr>
// End bracket for foreach loop.
  }
 
</div>