@Html.Partial("navbar")

<table class="table table-responsive">
    <thead>
        <th>Activity</th>
        <th>Date and Time</th>
        <th>Duration Of Event</th>
        <th>Event Coordinator</th>
        <th># of Participants</th>
        <th>Actions</th>
    </thead>
    <tbody>
        @foreach(var activity in @ViewBag.AllActivities) 
        {
            <tr>
                @if(@activity.Date > DateTime.Now) 
                {
                    <td>
                        <a href="ActivityDetails/@activity.ActivityId">@activity.Title</a>
                    </td>
                    <td>@activity.Date.ToString("D") | @activity.Time.ToString("h:m tt")</td>
                    <td>@activity.Duration @activity.DurationType</td>
                    <td>@activity.AdminId</td>
                    <td>@ViewBag.GuestCounter</td>
                    <td>
                        @if(@ViewBag.UserId == @activity.AdminId) 
                        {
                            <a href="/DeleteActivity/@activity.ActivityId" class="btn btn-danger">Delete Activity</a>
                        } 
                        else
                        {
                            bool RSVP = false;

                            @foreach(var attending in @activity.Guests) 
                            { 
                                if (@ViewBag.UserId != @activity.AdminId && @ViewBag.UserId == @attending.GuestId)
                                {
                                    RSVP = true;
                                }
                            if (RSVP == true)
                            {
                                <a href="/LeaveActivity/@activity.ActivityId" class="btn btn-danger">Leave Activity</a>
                                
                            }
                            else
                            {
                                <a href="/JoinActivity/@activity.ActivityId" class="btn btn-success">Join Activity</a>
                            }
                        }
                }                
                    </td>
                } 
            </tr>
        }
    </tbody>
</table>

<span @ViewBag.LoginError></span>
<a class="btn btn-primary" href="PlanActivity">Add A New Activity!</a>