<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Account</title>
</head>
<body>
    <br><br><br><br>
<h1>Welcome To The Wedding Planner</h1>

<table class="table">
    <thead>
        <tr>
            <th>Wedding</th>
            <th>Date</th>
            <th>Num of Guests</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var wedding in ViewBag.AllWeddings)
            {
                <tr>
                    <td><a href="ShowWedding/@wedding.WeddingsId">@wedding.Bride and @wedding.Groom</a> </td>
                    <td>@wedding.Date</td> 
                    <td>@wedding.NumGuests</td>

                    @if(ViewBag.CurrentUser.UserId == @wedding.AdminId)
                    {
                        <td><a href="Delete/@wedding.WeddingsId">Delete</td>
                    }
                    @if(@wedding.Atendees.Count < 1)
                    {
                        <td><a href="JoinWedding/@wedding.WeddingsId">RSVP</a></td>
                    }
                    @foreach (var Atendee in @wedding.Atendees)
                    {
                        @if(@Atendee.UserId == ViewBag.CurrentUser.UserId)
                        {
                            <td><a href="LeaveWedding/@wedding.WeddingsId">Un-RSVP</a></td>
                            break;  
                        }
                        else
                        {
                            <td><a href="JoinWedding/@wedding.WeddingsId">RSVP</a></td>
                        }
                    }
                </tr>
            }
        }
    </tbody>
</table>
<p>@TempData["RsvpError"]</p>

<a href="NewWedding">New Wedding</a>
</body>
</html>