<br>
<br>
<br>

@{
    
        <h1>Welcome to @ViewBag.CurrentWedding.Bride and @ViewBag.CurrentWedding.Groom's Wedding</h1>
        <a href="/Account">Dashboard</a>
        <a href="/Logout">Log Out</a>

        <p>Address: @ViewBag.CurrentWedding.Address at @ViewBag.CurrentWedding.Date</p> 

        <h3>Guests: </h3>
        foreach(var guest in @ViewBag.CurrentWedding.Atendees)
        {
            <p>@guest.User.FirstName</p>
        }
        

}